#footer{
   position: absolute;
   height: 20%;
   margin-top: 50%;
   width: 100%;
   background-color: rgba(11, 11, 15, 0.8);
   border-top: 3px solid burlywood;
}

#footer #copyrights{
   margin-top: 1%;
   margin-left: 40%;
   color: white;
}